<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UnityNeuroSpeech TTS Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="stable">
        <h1>✅TTS Server is running!</h1>
    </div>
    <div class="important">
        <h2>NOTE: Coqui XTTS is free for non-commercial use only. If you want to use it commercially, please contact the authors and purchase a license.</h2>
    </div>
    <div class="credits">
        <h3><a href="https://github.com/coqui-ai/TTS">Coqui XTTS GitHub repository</a></h3>
        <h2><a href="https://github.com/HardCodeDev777/UnityNeuroSpeech">UnityNeuroSpeech GitHub repository</a></h2>
        <h2>Author: <a href="https://github.com/HardCodeDev777">HardCodeDev</a></h2>
    </div>
</body>
</html>